.qltk {
  background-color: #fff;
}

.qltk a {
  color: #000 !important;
}

/* ============== Table ============== */

table {
  width: 95%;
  border-collapse: collapse;
  margin-top: 20px;
}
th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}
th {
  background-color: #f2f2f2;
}
.actions button {
  padding: 5px 10px;
  margin: 2px;
  cursor: pointer;
}
.edit {
  border: none;
  background-color: #4caf50;
  color: white;
}
.delete {
  border: none;
  background-color: #f44336;
  color: white;
}
.lock {
  border: none;
  background-color: #ff9800;
  color: white;
}

/* =============== Content ================ */

.content {
  position: relative;
  margin-top: 32px;
  margin-left: 32px;
  width: 100%;
}

.content h3 {
  font-size: 20px;
  font-weight: 500;
}

.content .search-account-text {
  margin-top: 8px;
  font-size: 16px;
  padding-bottom: 4px;
}

.table-control {
  position: absolute;
  display: flex;
  right: 50px;
  top: 56px;
}

.control-btn {
  cursor: pointer;
  border: 1px #ccc solid;
  padding: 4px;
  border-radius: 4px;
  margin-left: 8px;
}

.control-page {
  border: 1px #ccc solid;
  padding: 4px;
  min-width: 24px;
  border-radius: 4px;
  margin-left: 8px;
  text-align: center;
}

/* ============== Edit account ================ */

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
.popup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}
.popup-content input,
select {
  width: 100%;
  padding: 8px;
  margin: 5px auto;
}
