body {
  font-family: Inter, sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  background-color: #d7000e;
  padding: 16px 0;
  min-height: 64px;
}

header .logo {
  display: inline-block;
  font-family: Poppins;
  font-style: italic;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  padding: 4px 0;
  margin-left: 64px;
}

header h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 28px;
  font-weight: 500;
  color: #fff;
}

main {
  display: flex;
}

main .nav-bar {
  display: inline-block;
  min-width: 240px;
  min-height: calc(100vh - 64px);
  background-color: #666;
  font-size: 20px;
  color: #fff;
}

.nav-bar h2 {
  font-family: Poppins;
  font-style: italic;
  font-size: 24px;
  font-weight: 600;
  padding: 8px 0;
  color: #fff;
  text-decoration: underline;
}

.nav-bar .nav-list {
  padding-left: 16px;
  font-weight: 500;
}

.nav-bar .nav-list:hover {
  background-color: #ccc;
  color: #000;
}

.nav-bar .nav-list a {
  display: block;
  padding: 16px 0;
  color: #fff;
}

#toggleLink {
  display: block;
  padding: 16px;
  font-weight: 500;
  color: #fff;
}

#toggleLink::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 52px;
  left: 0;
}

#toggleLink:hover {
  background-color: #ccc;
  color: #000;
}

.nav-bar .nav-list a::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 52px;
  left: 0;
  margin-top: -16px;
}

.hidden {
  display: none;
}

.nav-bar .lv2-list {
  cursor: pointer;
  padding: 8px 0;
  margin-left: 32px;
  font-size: 16px;
  font-weight: 500;
}

.nav-bar .lv2-list a {
  color: #fff;
  padding-left: 8px;
}

.nav-bar .lv2-list a:hover {
  color: #000;
}

.angle-down {
  float: right;
  margin-top: 10px;
}
.qltk {
  background-color: #fff;
}

.qltk a {
  color: #000 !important;
}

/* ============== Table ============== */

table {
  width: 95%;
  border-collapse: collapse;
  margin-top: 20px;
}
th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}
th {
  background-color: #f2f2f2;
}
.actions button {
  padding: 5px 10px;
  margin: 2px;
  cursor: pointer;
}
.edit {
  border: none;
  background-color: #4caf50;
  color: white;
}
.delete {
  border: none;
  background-color: #f44336;
  color: white;
}
.lock {
  border: none;
  background-color: #ff9800;
  color: white;
}

/* =============== Content ================ */

.content {
  position: relative;
  margin-top: 32px;
  margin-left: 32px;
  width: 100%;
}

.content h3 {
  font-size: 20px;
  font-weight: 500;
}

.content .search-account-text {
  margin-top: 8px;
  font-size: 16px;
  padding-bottom: 4px;
}

.table-control {
  position: absolute;
  display: flex;
  right: 50px;
  top: 56px;
}

.control-btn {
  cursor: pointer;
  border: 1px #ccc solid;
  padding: 4px;
  border-radius: 4px;
  margin-left: 8px;
}

.control-page {
  border: 1px #ccc solid;
  padding: 4px;
  min-width: 24px;
  border-radius: 4px;
  margin-left: 8px;
  text-align: center;
}

/* ============== Edit account ================ */

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
.popup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}
.popup-content input,
select {
  width: 100%;
  padding: 8px;
  margin: 5px auto;
}
